#main{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;    
    margin: 50px;
}

#logo{
    animation: pop-in 0.5s ease forwards;
    user-select: none;
    pointer-events: none;
}

#welcomeBox{
    animation: pop-in 0.5s ease forwards;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px;
}

#welcomeBox>button{
    border: none;
    background-color: #0088cc;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

@keyframes pop-in{
  0%   { transform: translateY(6px) scale(.96); opacity: 0; }
  60%  { transform: translateY(-2px) scale(1.015); opacity: 1; }
  100% { transform: translateY(0) scale(1); opacity: 1; }
}